LOAD THE DATASET

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/KaggleV2-May-2016.csv')
df.head(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No

STEP 2: Basic Inspection

In [24]:
df.info()
df.describe()
df.isnull().sum()
df.columns
df.drop_duplicates().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 71954 entries, 5 to 110526
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               71954 non-null  object
 1   age                  71954 non-null  int64
 2   neighbourhood        71954 non-null  object
 3   scholarship          71954 non-null  int64
 4   hipertension         71954 non-null  int64
 5   diabetes             71954 non-null  int64
 6   alcoholism           71954 non-null  int64
 7   handcap              71954 non-null  int64
 8   sms_received         71954 non-null  int64
 9   no_show              71954 non-null  int64
 10  waiting_days         71954 non-null  int64
 11  appointment_weekday  71954 non-null  object
dtypes: int64(9), object(3)
memory usage: 7.1+ MB

gender                 FemaleFemaleFemaleFemaleFemaleMaleFemaleMaleFe...
age                                                              2598894
neighbourhood          RepúblicaGoiabeirasGoiabeirasConquistaNova Pal...
scholarship                                                         6416
hipertension                                                       14362
diabetes                                                            5160
alcoholism                                                          1753
handcap                                                             1376
sms_received                                                       34113
no_show                                                            19696
waiting_days                                                     1006327
appointment_weekday    FridayFridayFridayFridayFridayFridayFridayFrid...
dtype: object

 Step 3: Rename Columns (Make them consistent and readable)

In [7]:
df.columns = [col.strip().lower().replace('-', '_') for col in df.columns]

BEFORE

In [ ]:
#['PatientId', 'AppointmentID', 'ScheduledDay', 'AppointmentDay', 'No-show']

AFTER

In [ ]:
# ['patientid', 'appointmentid', 'scheduledday', 'appointmentday', 'no_show']

In [9]:
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0

 Step 4: Clean no_show Column

In [8]:
df['no_show'] = df['no_show'].map({'No': 0, 'Yes': 1})

In [10]:
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0

Step 5: Fix Invalid Ages

In [11]:
df = df[df['age'] >= 0]
df = df[df['age'] <= 100]

 Step 6: Convert Date Columns to datetime

In [12]:
df['scheduledday'] = pd.to_datetime(df['scheduledday'])
df['appointmentday'] = pd.to_datetime(df['appointmentday'])

 Step 7: Create New Features (Optional but useful)

Create waiting time (days between scheduling and appointment)

In [13]:
df['waiting_days'] = (df['appointmentday'] - df['scheduledday']).dt.days
df = df[df['waiting_days'] >= 0]

Create appointment weekday

In [14]:
df['appointment_weekday'] = df['appointmentday'].dt.day_name()

Step 8: Explore Categorical Columns

In [15]:
df['gender'].value_counts()
df['handcap'].value_counts()
df['neighbourhood'].nunique()

80

STEP 9: Standardizing Text Values in Medical Appointment No Shows

 1. Standardize gender column

In [18]:
print(df['gender'].unique())

['F' 'M']

In [19]:
df['gender'] = df['gender'].str.strip().str.upper()

In [20]:
df['gender'] = df['gender'].map({'F': 'Female', 'M': 'Male'})

2. Standardize neighbourhood column

In [21]:

df['neighbourhood'] = df['neighbourhood'].str.strip().str.title()

In [23]:
print(df['gender'].value_counts())
print(df['neighbourhood'].nunique())

gender
Female    48065
Male      23889
Name: count, dtype: int64
80

Step 10: Drop Unnecessary Columns

In [16]:
df.drop(['patientid', 'appointmentid', 'scheduledday', 'appointmentday'], axis=1, inplace=True)

Step 11: Final Checks
python
Copy
Edit

In [17]:
df.isnull().sum()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 71954 entries, 5 to 110526
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               71954 non-null  object
 1   age                  71954 non-null  int64
 2   neighbourhood        71954 non-null  object
 3   scholarship          71954 non-null  int64
 4   hipertension         71954 non-null  int64
 5   diabetes             71954 non-null  int64
 6   alcoholism           71954 non-null  int64
 7   handcap              71954 non-null  int64
 8   sms_received         71954 non-null  int64
 9   no_show              71954 non-null  int64
 10  waiting_days         71954 non-null  int64
 11  appointment_weekday  71954 non-null  object
dtypes: int64(9), object(3)
memory usage: 7.1+ MB

,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no_show,waiting_days
count,71954.000000,71954.000000,71954.000000,71954.000000,71954.000000,71954.000000,71954.000000,71954.000000,71954.000000
mean,38.497429,0.092712,0.208897,0.074728,0.025322,0.019985,0.493107,0.285168,14.642258
std,22.917899,0.290030,0.406524,0.262954,0.157102,0.153947,0.499956,0.451498,16.494483
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000
75%,57.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,21.000000
max,100.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,178.000000